* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  /*HEADER*/
   .navigation {
    background: linear-gradient(to right, green,yellow,green,yellow);
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items:center;
    cursor: pointer;
    padding: 10px;
    
  }
  
  #sbtn-box {
    padding: 0px;
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    background-color: aliceblue;
    border-radius: 20px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 20px;
  }
  
  
  
    
  nav {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    
    
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
    width: 80%;
    
    
  }
  nav ul li a {
    text-decoration: none;
    color: inherit;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: 30px;
    margin-left: 40px;
    text-transform:uppercase;
  
    
    
  }  
  
  .nav-btn {
    flex: 1;
    text-align: right;
    font-size: 30px;
    background:black;
    color: yellow;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    
  }
  
  .btn-a {
    text-decoration-line:none;
    color:black;
  
    
  }
  
  
  
  .Search-bar {
    align-items: center;
    margin: 0rem 10rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style-type: style type none;
    gap: 5rem;
    align-items:center;
  }
  /*LOGO*/
  .logo{
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: oblique;
    color:rgb(8, 43, 8);
  }

  

  
  * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
    
    
  }
/*CONTENT BOX STYLE*/
  
  
  .content{
   
    font-size: 18px;
    width: 100%;
    border: 10px solid green;
    height: 330px;
    background-color:rgb(204, 204, 28);
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items:center;
    
  }

  /*IMAGE DIRECTION*/
  
 
 
  
    
.imageA{ 
    padding: 20PX;
    float: left;
    
    
     }
     
      
      .centerA{
      display: block;
      margin-right: 120%;
     }

     
  
    
  

  .imageB{
 padding: 20PX;
 float: left;
 
}

 
.imageC{
 padding: 20px;
 float:left ;
}
.imageD{ 
 padding: 20px;
 float: left;
}
.imageE{ 
 padding: 20px;
 float: left;
}
.imageF{ 
 padding: 20px;
 float:left;
}
.imageG{
 padding: 20px;
 float:left;
}
.imageH{
 padding: 20PX;
 float: left;
}
imageI{
 padding: 20PX;
 float: left;
}
imageJ{
 padding: 20px;
 float:left;
 

 
}
    
   
   
   

   .header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     align-items: center;
  
   }
   /*FOOTER */
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
     footer{
    background-color:black ;
    
  }
  .footerContainer{
    position: sticky;
    top: 10%;
    width: 100%;
    padding: 30px 10px 20px;
  }
  /*SOCIAL ICONS*/
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
  }.socialIcons a{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  /*Hover Effect On Social Media Icons*/
  .socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color:white;
    transition: 0.5s;
  }
 
  .footerNav ul{
    display: flex;
    justify-content: center;
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.4em;
    opacity: 0.7;
    transition: 0.5s;
  }
  .footerNav ul li a:hover{
    opacity: 0.7;
  }
  .new{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: yellowgreen;
    color:rgb(15, 1, 1);
    margin: 20px 0px 0px;
  }
  

 
  